 @using WebApplication1.Models
@using WebUI.Models
@using WebUI.Models.Api
@model PageItem

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Türkiyeden ve Düyadan Haber Ekle</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row" id="mdlForm">
            
            <input type="hidden" ID="hdnGosterimSayisi" name="hdnGosterimSayisi" value="0" />
            <input type="hidden" ID="hdnEkleyen" name="hdnEkleyen" value="0" />
            <input type="hidden" ID="hdnEklemeTarihi" name="hdnEklemeTarihi" value="0" />
            <div class="col-md-2 col-sm-3">
                <label class="control-label">Etkin</label>
                <input class="form-control" type="checkbox" name="chckEtkin" checked="@Model.TDHaberler.Data.Etkin" />
            </div>
            <div class="col-md-9 col-sm-12">
                <label class="control-label">Lütfen Yazı Tipini Seçiniz</label>
                <select id="selectYaziTipi" name="selectYaziTipi" class="form-control">
                    <option value="1">Türkiyeden Haberler</option>
                    <option value="2">Dünyadan Haberler</option>
                    <option value="3">AB' den Haberler'</option>
                </select>
            </div>
 
            <div class="col-md-6 col-sm-12">
                <label class="control-label">TD Haber Eki (.pdf)</label>
                <a href="@Model.TDHaberler.Data.DosyaUrl" target="_blank"><i class="fa fa-file"></i></a>
                <input type="hidden" name="hdnDosyaUrl" value="" />
                <input type="file" class="form-control" name="fileDosyaUrl" />
            </div>
 
            <div class="col-md-12 col-sm-12">
                <label class="control-label">Başlık</label>
                <input type="text" class="form-control" name="txtBaslik" value="@Model.TDHaberler.Data.Baslik" data-required='true' data-group_name='ModalForm' data-message_type='formmessage' data-error_message="Başlık Alanı Boş Geçilemez." />
            </div>  
 
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm" data-dismiss="modal">
            <i class="ace-icon fa fa-times"></i>
            Kapat
        </button>

        <a class="btn btn-success" data-mode="GetTDHaberIslemler" data-type="Kaydet" data-id="@Model.TDHaberler.Data.ID" data-required='true' data-moving_scroll_bar='1' data-group_name='ModalForm'>Kaydet</a>
        
    </div>
</div>
<script>
    
   selectOptionsSelected(@Model.TDHaberler.Data.Tip,"selectYaziTipi");
</script>