@using WebApplication1.Models
@using WebUI.Models
@using WebUI.Models.Api
@using Helper;
@model PageItem

<div class="modal-content"  id="mdlForm">
    <div class="modal-header">
        <h5 class="modal-title">Güncelle</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">            
            
            <div class="col-md-2 col-sm-3">
                <label class="control-label">Etkin</label>
                <input class="form-control" type="checkbox" name="chckEtkin" checked="@Model.FireKararlari.Data.Etkin" />
            </div>

            <div class="col-md-6 col-sm-12">
                <label class="control-label">Ek (.pdf)</label>
                <a href="@Model.FireKararlari.Data.DosyaURL.Replace("..","")" target="_blank"><i class="fa fa-file"></i></a>
 
                <input type="hidden" name="hdnDosyaUrl" value="" />
                <input type="file" class="form-control" name="fileDosyaUrl" />
            </div>
            <div class="col-md-3 col-sm-9">
                <label class="control-label">Tarih</label>
                <input class="form-control" type="datetime-local" name="txtTarih" value="@Model.FireKararlari.Data.Tarih.ToDateTimeLocal()" data-group_name='mdlForm' data-message_type='formmessage' data-error_message="Tarih Alanı Boş Geçilemez."/>
            </div>
               <div class="col-md-12 col-sm-12">
                <label class="control-label">Meslek Grubu</label>
                <select id="selectMeslekGruplari" name="selectMeslekGruplari" class="form-control">                    
                    <option value='1'>01 - Pamuk İşleme-Çırçır Ve Sawgın Prese Sanayi</option>
                    <option value='2'>02 - İnşaat Malzemeleri-Metalik Olmayan Mineral Ürünler Sanayi</option>
                    <option value='3'>03 - Gıda Sanayi</option>
                    <option value='4'>04 - Hazır Yemek Sanayi</option>
                    <option value='5'>05 - Konfeksiyon Ve Ayakkabıcılar Sanayi</option>
                    <option value='6'>06 - Maden Ve Taşocakçılığı Sanayi</option>
                    <option value='7'>07 - Tekstil Sanayi</option>
                    <option value='8'>08 - Ağaç Ürünleri Sanayi</option>
                    <option value='9'>09 - Kağıt-Ambalaj Ve Basım Sanayi</option>
                    <option value='10'>10 - Kimya Sanayi</option>
                    <option value='11'>11 - Plastik Ve Kauçuk Ürünleri Sanayi</option>
                    <option value='12'>12 - Plastik Ambalaj Sanayi</option>
                    <option value='13'>13 - Metal İşleme Ve Kaplama Sanayi</option>
                    <option value='14'>14 - Döküm-Geri Dönüşüm Ve Metal Sanayi</option>
                    <option value='15'>15 - Metal Ve Metal Yan Sanayi</option>
                    <option value='16'>16 - Elektrik-Otomasyon Ve Enerji Sanayi</option>
                    <option value='17'>17 - Makina İmalat Ve Taahhüt Sanayi</option>
                    <option value='18'>18 - Tarım Makinaları Ve Teknolojılerı Sanayi</option>
                    <option value='19'>19 - Motorlu Kara Taşıtları Ve Otomotiv Yan Sanayi</option>
                    <option value='20'>20 - Mobilya İmalat Sanayi</option>
                    <option value='21'>21 - İnşaat Müteahhitliği</option>
                    <option value='22'>22 - Özel İnşaat Faaliyetleri</option>
                    <option value='23'>23 - Otomotiv Ve Motor Yenileme Sanayi</option>

                </select>
            </div>

            <div class="col-md-12 col-sm-12">
                <label class="control-label">Açıklama</label>
                <textarea class="form-control" name="txtAciklama"  rows="3" data-required='true' data-group_name='mdlForm' data-message_type='formmessage' data-error_message="Açıklama Alanı Boş Geçilemez." >@Model.FireKararlari.Data.Aciklama</textarea>
            </div>
 

        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm" data-dismiss="modal">
            <i class="ace-icon fa fa-times"></i>
            Kapat
        </button>

        <a class="btn btn-success" data-mode="GetFireKararlariIslemler" data-type="Kaydet" data-id="@Model.FireKararlari.Data.ID" data-required='true' data-moving_scroll_bar='1' data-group_name='mdlForm'>Kaydet</a>
    </div>
</div>

<script>

   selectOptionsSelected(@Model.FireKararlari.Data.MeslekGrubuKodu,"selectMeslekGruplari");
</script>    