@using Helper
@using WebApplication1.Models
@using WebUI.Models
@using WebUI.Models.Api

@model ResponseMessage<List<View_Base_Hedef_Tekrar_Getir>>

@*@foreach (var ItemduzSatirHaber in @Model.Data)
{
    <div class="media-body align-self-center mt-15">
        <h4 class="post-title">
            <a href="#" data-mode="KendoTemplateLink" data-id='@ItemduzSatirHaber.ID' >
                <i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp; @ItemduzSatirHaber.hedefTekrarBaslik (@ItemduzSatirHaber.hedefTekrarFaaliyetBasTarih - @ItemduzSatirHaber.hedefTekrarFaaliyetBitTarih)
            </a>
        </h4>
    </div>
}*@